<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/styles2.css" />
    </head>
    <body class="bg-light">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container px-1 px-lg-5">
                <a class="navbar-brand" href="/"><img src="/images/pizarrasLogo.png" style="width: 200px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Section-->
        <form th:action="@{/registro}" method="POST" align="center">
            <div class="form-group my-3">
                <p>Registrar administrador</p>
            </div>
            <div align="center" class="form-group my-3">
                <input type="text" class="form-control" placeholder="Nombre de Usuario" name="nombreu" style="width: 60%; margin-left: 10px">
            </div>
            <div align="center" class="form-group my-3">
                <input type="password" class="form-control" placeholder="Contraseña" name="password" style="width: 60%; margin-left: 10px">
            </div>
            <button type="submit" class="btn btn-dark" style="width: 60%; margin-left: 10px">Registrar</button>
        </form>
        <!-- Footer-->
        <footer class="py-5 bg-dark" style="position:fixed;width:100%;bottom:0">
            <div class="container"><p class="m-0 text-center text-white">
                    <script>
                        var fecha = new Date();
                        document.write("Copyright • Todos los derechos reservados • "+ (fecha.getYear()+1900));
                    </script>
                </p></div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
